// css variables e.g. colours
:root{
    //colours
    --c-141D2F: #141D2F;
    --c-222731: #222731;
    --c-1E2A47: #1E2A47;
    --c-F6F8FF: #F6F8FF;
    --c-4B6A9B: #4B6A9B;
    --c-FFFFFF: #FFFFFF;
    --c-0079FF: #0079FF;
    --c-979797: #979797;
    --c-2B3442: #2B3442;
    --c-697C9A: #697C9A;

    --red: red;

    //font
    --ff: "Space Mono", monospace;

    --display-initial: inline-block;
    --display-none: none;
}